form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form p{
    font-size: 40px;
    color: #acd9b2;
}

.emailInput{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(198, 198, 198, 0.492);
}


.passwordInput{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(198, 198, 198, 0.492);
}

.submitButton{
    margin: 10px;
    border-radius: 7px;
    padding: 10px;
    width: 100px;
    background-color: #acd9b2;
    border: 1px solid #8db192;
    color: #7c9a80;
}